/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  &__inner {
    padding: ($base-spacing-unit + half($base-spacing-unit)) 0 $base-spacing-unit;
    border-bottom: 1px solid $color-border;
  }

  &__icon {
    vertical-align: middle;
  }
}